.block {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    margin: 350px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: brown;
    text-align: center;
}
.block::before {
    font-size: 700px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -35%);
    color: crimson;
    margin: 0;
}
@media (max-width:883px) {
    .block::before {
        font-size: 600px;
    }
}
@media (max-width:763px) {
    .block::before {
        font-size: 500px;
    }
    .block {
        max-width: 350px;
        margin-top: 300px;
        font-size: 30px;
    }
}
@media (max-width:763px) {
    .block::before {
        font-size: 400px;
    }
    .block {
        margin-top: 250px;
        font-size: 25px;
    }
}
@media (max-width:482px) {
    .block::before {
        font-size: 350px;
    }
    .block {
        max-width: 300px;
        margin-top: 200px;
        font-size: 22px;
    }
}
@media (max-width:405px) {
    .block::before {
        font-size: 300px;;
        transform: translate(-50%, -25%);
    }
    .block {

        max-width: 270px;
        margin-top: 100px;
        font-size: 22px;
    }
}
